div.menu-view {
    overflow: hidden;
    height: calc(100vh - 0.44rem);
    white-space: nowrap;
}

div.menu-view>div {
    height:calc(100vh - 0.44rem);
    overflow: auto;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}


div.menu-view>div:first-child {
    width: 2.8rem;
    padding: .2rem;
}

div.menu-view>div:first-child h3,
div.menu-view>div:first-child h4,
div.menu-view>div:first-child h5 {
    font-weight: 400;
    font-size: .14rem;
    color: #304455;
    cursor: pointer;
    display: inline-block;
    margin: .07rem 0;
    height: 1.2em;
    color: #304455;
}

div.menu-view>div:first-child h3:hover,
div.menu-view>div:first-child h4:hover,
div.menu-view>div:first-child h5:hover {
    border-bottom: 2px solid #2396b9;
}


div.menu-view>div:first-child h3[active='yes'] {
    color: #2396b9;
    font-weight: 800;
    border-bottom: 2px solid #2396b9;
}

div.menu-view>div:first-child h3[active='yes']~ul {
    display: block;
}


div.menu-view>div:first-child h3~ul {
    display: none;
}

div.menu-view>div:first-child h2 {
    padding: 10px 0;
    font-size: .16rem;
}

div.menu-view>div:first-child li {
    margin-left: 1em;
}


div.menu-view>div:last-child {
    width: calc(100vw - 2.8rem);
}
